.TopBar {
  font-size: 16px;
  font-weight: 400;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  .TopBar__inner {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    .TopBar__text {
      flex-wrap: wrap;

      font-family: Abel;
      .TopBar__link {
      }
    }
    .TopBar__button {
      position: absolute;
      font-size: 18px;
      font-weight: 500;
      right: 2%;
      font-family: Satoshi;
      display: flex;
        justify-content: center;
    }
  }
}

@media (max-width: 1600px) {
  .TopBar{
    .TopBar__inner{

      .TopBar__text{

        .TopBar__link{

        }
      }
      .TopBar__button{

      }
    }
  }
}

@media (max-width: 1200px) {
  .TopBar{
    .TopBar__inner{

      .TopBar__text{

        .TopBar__link{

        }
      }
      .TopBar__button{

      }
    }
  }
}

@media (max-width: 960px) {
  .TopBar{
    .TopBar__inner{

      .TopBar__text{

        .TopBar__link{

        }
      }
      .TopBar__button{
        display: none;
        height: 30px;
        font-size: 16px;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 768px) {
   .TopBar{
    .TopBar__inner{

      .TopBar__text{

        .TopBar__link{

        }
      }
      .TopBar__button{

      }
    }
  }
}

@media (min-width: 320px) {
  .TopBar{
    .TopBar__inner{
        display: flex;
        justify-content: center;
        align-items: center;
      .TopBar__text{
        font-size: 12px;
        .TopBar__link{
          text-decoration:underline;
        }
      }
      .TopBar__button{
        
      }
    }
  } 
}