
@font-face {
     font-family: Satoshi;
    src: url(./assets/font/Satoshi-Variable.ttf);
}


@font-face {
    font-family:Abel;
    src: url(./assets/font/Abel-Regular.ttf);
}

@font-face {
    font-family: integral CF;
    src: url(./assets/font/integral-cf-bold.otf);
}
