.main{
    background-image: url('./Rectangle 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
  .main__inner{
    position: relative; 
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
    margin: 0 auto;
    .hero__svg{
      position: absolute;
    }
    .hero__svg_left{
      right: 4%;
      top: 10%;
      width: 104px;
      height: 104px;
    }
    .hero__svg_right{
      right: 42%;
      top:35%;
      width: 56px;
      height: 56px;
    }
    .main__text{
      padding:24px 0 0;
      max-width: 596px;
      width: 100%;
      .text__title{
        margin-top:103px; 
        max-width: 577px;
        color: #000000;
        font-size: 64px;
        font-weight: bold;
        font-family: integral CF;
      }
      .text__subtitle{
        max-width: 500px;
        margin: 32px 0 ;
        font-family:Satoshi;
        font-weight:400;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.6);
      }
      .text__button{
        font-family:Satoshi;
        font-size: 16px;
        font-weight: 400;
        padding: 15px 68px;
        background-color: #000000;
        color: #FFFFFF;
        border-radius: 62px;
      }
      .statistics__container{
        display: flex;
        flex-wrap: wrap;           
        justify-content: flex-start ;
        gap: 10%;
        padding:48px 0 117px 0;
        .statistics__item{
          font-family:Satoshi;
          max-width: 156px;
          width: 100%;
          .counter{
            font-weight: 800;
            font-size: 40px;
          }   
          .label{ 
            flex-wrap: nowrap;
            font-size: 16px;
            color:rgba(0, 0, 0, 0.6);
          }
        }
        .statistics__item--border{
          border-right: 0px;
          padding-right: 0;
        }
      }
    }
  }
}


@media (min-width: 1024px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media  (max-width: 390px) {
  .main{
    background-image: none;
    .main__inner{
      .hero__svg{
        &.hero__svg_left{
          display: none;
        }
      }
      .hero__svg{
        &.hero__svg_right{
          display: none;
        }
      }
      .main__text{
        padding: 40px 0 0 0 ;
        .text__title{
          display: none;
          font-size: 36px;
          max-width: 315px;
          width: 100%;
        }
        .text__subtitle{
          display: none;
          margin: 24px 0;
          max-width: 358px;
          width: 100%;
        }
        .text__button{
          display: none;
          width: 100%;
        }
        .statistics__container{
          display: flex;
          flex-wrap: wrap;           
          justify-content: space-evenly;
        .statistics__item{
          font-family:Satoshi;
          margin:12px 0 ;
          margin-left: 20px;
          max-width: 117px;
          width: 100%;
          .counter{
            font-weight: 800;
            font-size: 24px;
          }   
          .label{ 
            font-size: 12px;
            color:rgba(0, 0, 0, 0.6);
          }
        }
        .statistics__item--border{
          border-right: 1px solid rgba(0, 0, 0, 0.172);
          padding-right: 50px ;
        }
      }
      }
    }
  }
}